<div class="cover">
  <div class="cover-img img-22" style="background-image: url(<%= asset_path(random_image('cover/final')) %>)"></div>
  <div class="cover-content-2">
    <div id="log-in" class="flex-container justify-between">
      <h1 class="topless bottomless inline"><%= title 'Log In' %></h1>
      <%= render 'omniauth_links' %>
    </div>

    <%= form_tag '/sessions/create', method: 'post' do |f| %>
      <div class="field">
        <%= email_field_tag :email, nil, class: 'tumblr-input', placeholder: 'Email' %>
      </div>
      <div class="field">
        <%= password_field_tag :password, nil, class: 'tumblr-input', placeholder: 'Password' %>
      </div>
      <div class="actions">
        <%= submit_tag 'Log In', class: 'green-button' %>
      </div>
    <% end %>
    <%= link_to 'Create an Account', new_user_path, class: 'red-button' %>
  </div>
</div>
