<div id="<%= @scholarship.id %>" class="scholarship opinionable">
  <div class="flex-container">
    <h2><%= link @scholarship %> (<%= reward %>)</h2>
    <% if admin_or_above? %>
      <%= link_to edit_scholarship_path(@scholarship), class: "flex-right" do %>
        <%= desktop_mobile "Edit" => "<i class='fa fa-pencil-square-o fa-2x'></i>" %>
      <% end %>
    <% end %>
  </div>

  <div class="pre-wrap"><%= thumbs_up @scholarship %>  <%= likes @scholarship %>    <%= thumbs_down @scholarship %>  <%= dislikes @scholarship %></div>

  <div class="top-padding small gray">
    Updated <%= updated_at @scholarship %>
  </div>

  <h3>Description:</h3>
  <%= full_md @scholarship.description %>

  <h3>Deadline:</h3>

  <p>
    <%= deadline_icon @scholarship.deadline %>
    <%= full_date_time @scholarship.deadline %>
  </p>

  <p>
    <%= time_in_words @scholarship.deadline %>
    (<%= days_left @scholarship.deadline %>)
  </p>


  <h3>Requirements:</h3>
  <%= full_md @scholarship.requirements %>
</div>

<h2>Comments · <%= @scholarship.comments.size %></h2>
<%= render 'comments/form' if logged_in? %>
<%= link_to 'All comments',  scholarship_comments_path(@scholarship) %>
<%= render 'comments/index' %>

<%= back %>
