<%= form_for [@commentable, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
        <% @comments.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: session[:user_id] %>
  <span class="user-image left">
    <%= link_to user_path(session[:user_id]) do %>
      <%= image_tag user.image.url(:thumb) %>
    <% end %>
  </span>
  <div class="new-comment-container">
    <%= f.text_area :content, rows: 2, placeholder: "Add a comment...", class: "new-comment" %>
    <%= f.submit "Post", class: "post" %>
  </div>
  <br/>
<% end %>
