<div id="comments">
  <% @comments.each do |comment| %>
    <div class="comment-thread">
      <div id="<%= comment.id %>" class="comment opinionable">
        <a href="#" class="comment-area"><span class="click-area"></span></a>
        <div class="user-image left">
          <%= link_to user_path(comment.user.id) do %>
            <%= image_tag comment.user.image.url(:small) %>
          <% end %>
        </div>
        <div class="comment-content">
          <span class="dropdown">
            <span class="dropdown-container">
              <i class="fa fa-caret-square-o-down dropdown-button"></i>
              <ul class="dropdown-menu dropdown-select">
                <% if owner?(comment) %>
                  <li>Edit</li>
                  <li>Remove this comment</li>
                <% else %>
                  <li>Report spam or abuse</li>
                <% end %>
              </ul>
            </span>
          </span>
          <strong>
            <%= link_to comment.user.first_name, user_path(comment.user.id), class: 'comment-name' %>
          </strong>
          <span class="time"><%= created_at(comment) %></span>
          <br/>
          <%= comment.content %>
          <br/>
          <div class="pre-wrap"><span comment-id="<%= comment.id %>" class="small reply">Reply</span>   ·   <%= likes(comment) %><%= thumbs_up(comment) %>   <%= thumbs_down(comment) %></div>
        </div>
      </div>
      <% comment.replies.each do |reply| %>
        <div class="comment opinionable" id="<%= reply.id %>">
          <a href="#" class="comment-area"><span class="click-area"></span></a>
          <div class="left reply-spacing reply-image">
            <%= link_to user_path(reply.user.id) do %>
              <%= image_tag reply.user.image.url(:thumb) %>
            <% end %>
          </div>
          <div class="comment-content reply-spacing">
            <span class="dropdown">
              <span class="dropdown-container">
                <i class="fa fa-caret-square-o-down dropdown-button"></i>
                <ul class="dropdown-menu dropdown-select">
                  <% if owner?(reply) %>
                    <li>Edit</li>
                    <li>Remove this comment</li>
                  <% else %>
                    <li>Report spam or abuse</li>
                  <% end %>
                </ul>
              </span>
            </span>
            <strong>
              <%= link_to reply.user.first_name, user_path(reply.user.id), class: 'comment-name' %>
            </strong>
            <span class="time"><%= created_at(reply) %></span>
            <br/>
            <%= reply.content %>
            <br/>
            <div class="pre-wrap"><span comment-id="<%= comment.id %>" class="small reply">Reply</span>   ·   <%= likes(reply) %><%= thumbs_up(reply) %>   <%= thumbs_down(reply) %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "All comments",  school_comments_path(@school), class: "blue-link" %>
</div>
