<div class="comment opinionable" id="<%= @comment.id %>">
  <a href="#" class="comment-area"><span class="click-area"></span></a>
  <div class="left reply-spacing reply-image">
    <%= link_to user_path(@comment.user.id) do %>
      <%= image_tag @comment.user.image.url(:xs) %>
    <% end %>
  </div>
  <div class="comment-content reply-spacing">
    <span class="dropdown">
      <span class="dropdown-container">
        <i class="fa fa-caret-square-o-down dropdown-button"></i>
        <ul class="dropdown-menu dropdown-select">
          <% if owner?(@comment) %>
            <li>Edit</li>
            <li>Remove this comment</li>
          <% else %>
            <li>Report spam or abuse</li>
          <% end %>
        </ul>
      </span>
    </span>
    <strong>
      <%= link_to @comment.user.first_name, user_path(@comment.user.id), class: 'comment-name' %>
    </strong>
    <span class="time"><%= created_at(@comment) %></span>
    <br/>
    <%= @comment.content %>
    <br/>
    <div class="pre-wrap"><span comment-id="<%= @comment.original_comment_id %>" class="small reply">Reply</span>   ·   <span class="likes hide">1   </span><i class="fa fa-thumbs-up opinion"></i>   <i class="fa fa-thumbs-down opinion"></i></div>
  </div>
</div>
