<div class="flex-container">
  <h1><%= title 'Admin: Scholarships' %></h1>
  <%= link_to new_admin_scholarship_path, class: 'flex-right' do %>
    <i class="fa fa-plus"></i> Add Scholarship
  <% end %>
</div>

<%= render 'layouts/search', path: admin_scholarships_path, placeholder: 'Search scholarships' %>

<table class="pretty">
  <thead>
    <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @scholarships.each do |scholarship| %>
      <tr>
        <td><%= scholarship.name %></td>
        <td><%= scholarship.deadline %></td>
        <td><%= scholarship.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
