<div class="flex-container">
  <h2><%= link @scholarship %> (<%= reward %>)</h2>
  <% if admin_or_above? && request.path.include?("admin") %>
    <%= link_to edit_admin_scholarship_path(@scholarship), class: "flex-right" do %>
      <i class="fa fa-pencil-square-o fa-2x mobile-only"></i><span class="desktop-only">Edit</span>
    <% end %>
  <% end %>
</div>

<h3>Description:</h3>
<%= complex_md_parser @scholarship.description %>

<h3>Deadline:</h3>
<p>
  <%= full_date_time %>
</p>

<h3>Requirements:</h3>
<%= complex_md_parser @scholarship.requirements %>

<%= back %>
