<a name="top"></a>
<h2><%= title "FAQs" %></h2>
<p>
  This page will explain the Where We Dream (WWD) in general and all the specificities of the features—AKA WWD S4 (<span class="bold">S</span>chools, <span class="bold">S</span>cholarships, <span class="bold">S</span>tories, <span class="bold">S</span>tudents), your ability as a user on the site, and some fun facts. Lets begin with the problem.
</p>
<ul class="anchor-links">
  <%= anchor_link "The problem?", "problem" %>
  <%= anchor_link "The solution?", "solution" %>
  <%= anchor_link "Schools?", "schools" %>
  <%= anchor_link "What are #{public_lock} and #{private_lock} ?", "locks" %>
  <%= anchor_link "Public vs. private schools?", "schoolprivacy" %>
  <%= anchor_link "Schools have ranks?", "ranks" %>
  <%= anchor_link "Scholarships?", "scholarships" %>
  <%= anchor_link "Stories?", "stories" %>
  <%= anchor_link "Students?", "students" %>
  <%= anchor_link "Likes?", "likes" %>
  <%= anchor_link "Wait...comments?", "comments"%>
  <%= anchor_link "Cool, but can I type comments in bold?", "bold" %>
  <%= anchor_link "Markdown?", "markdown" %>
  <%= anchor_link "But Cruz, you said there were two Markdowns?", "twomarkdowns" %>
  <%= anchor_link "Awesome! How do I sign up??", "signup" %>
  <%= anchor_link "My account is set up, but how do I edit my details?", "profile" %>
</ul>

<%= anchor_tag "The problem?", "problem" %>

<p>
  The "equal access to education for anyone regardless of documentation" problem is too big to tackle on this page. If you really want learn about that thing that can inspire the best of students to drop out, self deport, stay in minimum-wage jobs, and abandon any hope they had for a future, listen to Bill and Cruz's talk about the issue <%= link_to "here", "https://soundcloud.com/user-549835400/episode-3-in-state-tuition-for-undocumented-immigrants" %>. The article will come soon. You can also listen to <%= link_to "Eddie's Ted Talk", "https://youtu.be/dcM0usGVKKI" %>, and <%= link_to "Marco's spoken word", "https://youtu.be/5AWbXbYH5hQ" %> on <%= link_to "IYF's youtube channel", "https://www.youtube.com/channel/UCtZcHKGd-vUJbKEbN8A8UfA" %> to educate yourself.
</p>

<p>
  You will be able to see more of the problem when you open your eyes and notice the people around you and listen to what they have to say.
</p>

<%= anchor_tag "The solution?", "solution" %>

<p>
  Great question! Where We Dream is simply another attempt by <%= link_to "Cruz Núñez", user_path(1) %> to reach equal access to education, especially for undocumented immigrant students. He's tried lobbying, rallies, posters, youth empowerment trainings, newspaper articles, school board support letters, web podcasts, museum spotlight, university CBPR research studies and civil disobedience events. If the laws and policies are still unchanged, then maybe we can have a place full of resources and a supporting community, a place where students learn about the best colleges for them—schools that go out of their way to help immigrant students succeed.
</p>

<p>
  We can do it. It will work. It’s worth it. If our goal is a well-educated society, it shouldn't matter whether someone has documentation or not. They are part of the community, the society, but they systematically can’t access education. When they should go to college, but don’t because of policies or lack of resources, we overall pay the price in poverty or in human pain and suffering.
</p>

<%= anchor_tag "Schools?", "schools" %>

<p>
  Great question! Because not many schools have easy access to information about how they treat undocumented students, forcing students to spend a lot of time researching, and eventually giving up because the situation is too overwhelming. With the Schools feature, students quickly get important information that applies directly to them; information like "Does the school accept undocumented students?" or "Does the school have any merit-based scholarships available for undocumented students?". This is very important information that the students need to know!
</p>

<p>
  You can search through schools by using a keyword seach. Type in "unc" and you will see only UNC schools. Type in the "charlotte" and you will see only schools from the city of Charlotte, NC. Type in "private" and you will see all the private schools on the website.
</p>

<p>
  You can also click on "rank", "name" and "city" at the top of the table in order to sort them. Click once for ascending order, click again for descending.
</p>

<p>
  We are working on adding more schools and information on those schools to the website, so just be patient. Or if you are impatient, reach out and ask to be recruiter, that way you can add the information yourself. Don't be shy. You'll never get anything done by sitting around and doing nothing!
</p>

<%= anchor_tag "What are #{public_lock} and #{private_lock} ?", "locks" %>

<p>
  If you are on mobile, you will see <%= public_lock %> and <%= private_lock %> while looking at schools. These locks are used to save space because you have a lot less screen area on mobile. So, instead of saying a school is public with text, we save space by denoting public schools with the <%= public_lock %> icon. Private schools get the <%= private_lock %> icon.
</p>

<%= anchor_tag "Public vs. private schools?", "schoolprivacy" %>

<p>
  That's right. Universities can be either public universities or private universities.
</p>

<p>
  Most Public universites were founded by government. State money runs public universities. The cost to study at these schools, aka tuition, is usually lower at public universities.
</p>

<p>
  Private colleges are not funded by the state. They rely on tuition and private contribution. Since the state does not help with the money, tuition is often higher at private universities.
</p>

<p>
  However, because public schools are funded by the state, they also have to follow state laws. If the state does not grant undocumented students in-state status, public schools must charge these students up to 4 times the cost of in-state tuition.
</p>

<p>
  Private schools don't have to worry about that. They can accept who they want, charge them in-state or not. It's up to the school.
</p>

<p>
  So in the end, a private school might be cheaper than a public school, if you're undocumented.
</p>

<%= anchor_tag "Schools have ranks?", "ranks" %>

<p>
  Where We Dream hopes to provide undocumented students with a sort of "immigrant-friendly rating" in hopes to better guide students to schools where they might have a chance, and keep them away from wasting time on schools that will ultimately turn them down in the end. Because we are evaluating schools, it makes sense to use the letter-grade system to rank them. We are all familiar with it the system. An "A" is the best you can do, an "F" means the school's pretty bad at giving undocumented students an equal chance at higher education.
</p>

<p>
  Right now the grades are estimates, and most of them are left as "INC", which stands for "incomplete". This means there is not information is available to give the school a score, or not enough thought has gone into giving the school a reasonable score. Soon the grades will be standardized, meaning an "A" will mean that the schools does x, y, and z, while a "B" means the schools only does x, y, but not z, and so on. The information will be posted here on this page, and news about it will be announced through WWD's <%= link_to "Twitter", "https://twitter.com/wherewedreamorg" %> and <%= link_to "Facebook", "https://www.facebook.com/wherewedream" %> pages, so pick one and follow them.
</p>

<%= anchor_tag "Scholarships?", "scholarships" %>

<p>
  What a great question. The Scholarships feature exists because scholarships for undocumented immigrants are hard to come by. I, Cruz Nunez, remember at one point only having one opportunity at a scholarship. When I didn't win, it felt as if I had no more options. I also remember looking through my high school's scholarships list, and crossing most of them out because I did not qualify, because of a lack of documentation.
</p>

<p>
  Again, you can search using keywords, and sort using the top row of hte table. Scholarships contain a link to the actual website where you can apply from, details about the scholarship, such as the reward amount, the background, the requirements, and the deadline.
</p>

<%= anchor_tag "Stories?", "stories" %>

<p>
  Yes, because we have so many stories to share; things that we have seen and people need to know about. We have voices, too. I've spoken at many events and I've gotten a lot of comments—from people who didn't know about undocumented students, and they said they understood and thanked me for telling my story. This feature is just another way to do that.
</p>

<p>
  Anyone with an account can write a story. You don't have to be undocumented.
</p>

<%= anchor_tag "Students?", "students" %>

<p>
  Yes, because it's not just about students searching for opportunities, the opportunities want to search for students, too. This website was made for the students, so we might as well give them a spotlight, too. Some might ask, "but don't you think some students would want their privacy and remain hidden from people?"
</p>

<p>
  They may, and that is why no one is forced to have an account on the website. The studets can remain hidden by simply not having an account here. And if they do create one, they are not forced to write down their location, contact information, biography, or upload a profile picture. They could also create an "Supporter" account. It's up to them really. However, ever since I've embraced who I am, I've been receiving all types of opportunities. I took my curse and turned it into a blessing.
</p>

<%= anchor_tag "Likes?", "likes" %>

<p>
  Yes. You should be familiar with this one. Facebook, YouTube, iFunny, they all have some sort of liking system. Where We Dream has one, too. You can see them when you visit the schools page. Under the schools' rank, you see the proportion of people who <span style="color: green;">liked</span> and <span class="red">disliked</span> the school. If nobody has given an opinion on the school yet, the likes bar will appear <span class="gray">gray</span>. You can also like scholarships, stories, and comments, but not people.
</p>

<%= anchor_tag "Wait...comments?", "comments" %>

<p>
  Yes. You should be familiar with this one, too. Facebook, YouTube and iFunny all have some sort of commenting system. Where We Dream has one, too. You can comment on schools, scholarships, stories, and comments, but not people. Yes, you can reply to other people's comments. You're welcome.
</p>

<%= anchor_tag "Cool, but can I type comments in bold?", "bold" %>

<p>
  Of course you can.
</p>

<p>
  As it turns out, there is this thing called <%= link_to "Markdown", "https://en.wikipedia.org/wiki/Markdown" %>, a simple way for regular people to write easy-to-read content.
</p>

<%= anchor_tag "Markdown?", "markdown" %>

<p>
  Where We Dream uses Markdown in two ways. The first is in comments. You can use italics, bold, hyperlinks, regular links and ordered lists. Where We Dream calls it simple Markup. I'll show you.
</p>

<p>
  If you write<br/>
  <span class="quotes">
    "*Cruz* **is** [the](http://agar.io/) best, here is why:<br/><br/>
  </span>
  <span class="quotes">
    1. reasons<br/>
  </span>
  <span class="quotes">
    2. <%= "<http://cruznunez.io/>" %>"
  </span>
</p>

<p>
  You get:
</p>

<p>
  <%= simple_md_parser "*Cruz* **is** [the](http://agar.io/) best, here is why:\n\n1. reasons\n2. <http://cruznunez.io/>" %>
</p>

<p>
  Easy right?
</p>

<%= anchor_tag "But Cruz, you said there were two Markdowns?", "twomarkdowns" %>

<p>
  So you were paying attention I see. Well done. WWD uses Markdown again in the body of stories, and in your biography on your profile page. The difference this time is that you here you can do all the stuff from simple Markdown, but also do headers, unordered lists, images, superscript, highlight, underline, and strikethrough. WWD calls it full Markdown. Check it out.
</p>

<p>
  If you write<br/>
  <span class="quotes">
    "# Biggest
  </span><br/>
  <span class="quotes">
    ## Bigger
  </span><br/>
  <span class="quotes">
    ### Big
  </span><br/>
  <span class="quotes">
    #### Small
  </span><br/>
  <span class="quotes">
    ##### Smaller
  </span><br/>
  <span class="quotes">
    ###### Smallest header
  </span><br/><br/>
  <span class="quotes">
    ==highlight==
  </span><br/><br/>
  <span class="quotes">
    *italics*
  </span><br/><br/>
  <span class="quotes">
    **bold**
  </span><br/><br/>
  <span class="quotes">
    _underline_
  </span><br/><br/>
  <span class="quotes">
    ~~strikethrough~~
  </span><br/><br/>
  <span class="quotes">
    super^script
  </span><br/><br/>
  <span class="quotes">
    [hyperlink](http://cruznunez.io/)
  </span><br/><br/>
  <span class="quotes">
    regular link: <%= "<http://cruznunez.io/>" %>
  </span><br/><br/>
  <span class="quotes">
    ![Cool arrest photo](http://tinyurl.com/cool-arrest-photo)
  </span><br/><br/>
  <span class="quotes">
    - Unordered
  </span><br/>
  <span class="quotes">
    * Unordered
  </span><br/>
  <span class="quotes">
    + Unordered
  </span><br/><br/>
  <span class="quotes">
    1. Ordered
  </span><br/>
  <span class="quotes">
    2. Ordered"
  </span><br/>
</p>

<h3>
  The outcome will be:
</h3>

<%= complex_md_parser "# Biggest
## Bigger
### Big
#### Small
##### Smaller
###### Smallest header

==highlight==

*italics*

**bold**

_underline_

~~strikethrough~~

super^script

[hyperlink](http://cruznunez.io/)

regular link: <http://cruznunez.io/>

![Cool arrest photo](http://tinyurl.com/cool-arrest-photo)

- Unordered
* Unordered
+ Unordered

1. Ordered
2. Ordered" %>

<p>
  You have all this power to write more clearly, to paint a better picture, with emphasis, with hyperlinks, and much more! If you want to learn even more, check out this <%= link_to "page", "https://daringfireball.net/projects/markdown/basics" %>.
</p>

<%= anchor_tag "Awesome! How do I sign up??", "signup" %>

<p>
  Go to the <%= link_to "log in page", login_path %>, click on <%= link_to '"Create an Account"', new_user_path %>, fill out the fields, click "Create User", and verify your email. That's it!
</p>

<%= anchor_tag "My account is set up, but how do I edit my details?", "profile" %>

<p>
  When logged in, scroll down to the footer of any page, click "Profile", click "Edit".
</p>
