<% students = User.students.count %>
<div class="flex-boxes">
  <a href="schools" class="flex-box flex-box-big">
    <%= image_tag "school_1.gif" %>
    <h1 class="flex-title">Schools</h1>
    <p>Browse through our <%= pluralize School.count, "school" %> and find out which is best for you</p>
  </a>
  <a href="scholarships" class="flex-box">
    <%= image_tag "money_1.png" %>
    <%#= image_tag "money_2.png" %>
    <%#= image_tag "money_3.gif" %>
    <%#= image_tag "money_4.gif" %>
    <h1 class="flex-title">Scholarships</h1>
    <p>Browse through and apply for our <%= School.count%> known immigrant-friendly <%= simple_pluralize School.count, "scholarship" %>!</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <%#= image_tag "sponsor_1.png" %>
    <%#= image_tag "sponsor_2.gif" %>
    <%= image_tag "sponsor_3.gif" %>
    <h1 class="flex-title">Sponsors</h1>
    <p>Coming soon!</p>
    <!-- <p>Browse through our sponsors and meet people who want to help fund your dreams!</p> -->
  </a>
  <a href="students" class="flex-box flex-box-big">
    <%= image_tag "student_1.gif" %>
    <%#= image_tag "student_2.gif" %>
    <%#= image_tag "graduation_cap.png" %>
    <!-- <div style="height:52px;">
      <i class="fa fa-graduation-cap"></i>
    </div> -->
    <h1 class="flex-title">Students</h1>
    <p>Browse through our <%= pluralize students, "student" %> who <%= simple_pluralize students, "strives", "strive" %> to fulfill <%= simple_pluralize students, "his/her", "their" %> DREAMs</p>
  </a>
</div>
