<% if @user && @user.does_not_have_enough_profile_info? %>
  <p class="bottom-margin-3 center topless">
    Hey, if you haven't added additional information to your <%= link_to "profile", user_path(user_id) %> yet, now is the time to do so!
  </p>
<% elsif !logged_in? %>
  <p class="bottom-margin-3 center topless">
    Welcome to Where We Dream, if you are new, feel free to browse our features down below, or take a look at our <%= link_to "about page", "/about" %> and <%= link_to "FAQ page", '/FAQs' %>.
  </p>
<% end %>

<%#= render "flex_boxes" %>

<h2 class="topless center">Recent Activity</h2>

<%= link_to schools_path do %>
  <h3 class="gray-hover-2">Schools</h3>
<% end %>
<hr>
<% @recent_schools.each do |school| %>
  <div class="double-spaced"><%= link_to school.name, school %> <%= lock school %> <span class="gray"><%= time school %></span></div>
<% end %>
<br>
<%= link_to scholarships_path do %>
  <h3 class="gray-hover-2">Scholarships</h3>
<% end %>
<hr>
<% @recent_scholarships.each do |scholarship| %>
  <div class="double-spaced"><%= link_to scholarship.name, scholarship %> (<span class="bold light-green"><%= reward scholarship %></span>) <span class="gray"><%= time scholarship %></span></div>
<% end %>
<br>
<%= link_to states_path do %>
  <h3 class="gray-hover-2">States</h3>
<% end %>
<hr>
<% @recent_states.each do |state| %>
  <div class="double-spaced"><%= link_to state.name, state %> <span class="gray"><%= time state %></span></div>
<% end %>
<br>
<%= link_to stories_path do %>
  <h3 class="gray-hover-2">Stories</h3>
<% end %>
<hr>
<% @recent_stories.each do |story| %>
  <%= render "stories/brief", story: story %>
<% end %>
