<%= form_for @user, html: { multipart: true } do |f| %>
  <span class="profile-user-image" style="float:left;">
    <%= f.file_field :image, accept: 'image/png,image/jpeg', id: "profilePicFileField" %>
    <%= image_tag @user.image.url(:small), class: "profile-pic-account" %>
  </span>

  <div class="profile-name-container">
      <%= f.text_field :first_name, class: "resizable edit-name", placeholder: "First name" %>
      <%= f.text_field :last_name, class: "resizable edit-name", placeholder: "Last name" %>
    <p>
      <%= @user.user_type! %>
    </p>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "wide" %>
  </div>

  <%= f.submit 'Update', class: 'update' %>

<% end %>
<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', :back %>
