<h1>Schools</h1>

<%= form_tag schools_path, :method => 'get', class: 'form-search' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <i class="fa fa-search"></i>
  <%= text_field_tag :search, params[:search], placeholder: 'Search by name' %>
<% end %>

<table class="pretty">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "rating" %></th>
      <th><%= sortable "public" %></th>
      <th><%= sortable "city" %></th>
      <th colspan='1'></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.rating! %>%</td>
        <td><%= school.public? %></td>
        <td><%= school.city %></td>
        <td><%= link_to 'Show', admin_school_path(school) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
