<h1><%= title 'Schools' %></h1>

<%= render 'layouts/search', path: schools_path, placeholder: 'Search schools' %>

<table class="pretty">
  <thead>
    <tr>
      <th class="min-width"><%= sortable "rating", "Rank" %></th>
      <th><%= sortable "name" %></th>
      <th class="desktop-only"><%= sortable "public" %></th>
      <th><%= sortable "city" %></th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr data-href="<%= school_path(school) %>" class="tr-content">
        <td class="center">
          <%= school.rating! %>
          <%= likes_bar school, sides: true %>
        </td>
        <td>
          <%= school.name %>
          <%= lock school, mobile_only: true %>
        </td>
        <td class="desktop-only"><%= school.public? %></td>
        <td><%= school.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @schools %>
