<h1>Schools</h1>

<%= render 'layouts/search', path: schools_path, placeholder: 'Search schools' %>

<table class="pretty">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "rating" %></th>
      <th><%= sortable "public" %></th>
      <th><%= sortable "city" %></th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr data-href="/schools/<%= school.id %>" class="tr-content">
        <td><%= school.name %></td>
        <td><%= school.rating.round %>%</td>
        <td><%= school.public? %></td>
        <td><%= school.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>
