<% @school.id ? correct_path = admin_school_path(@school) : correct_path = admin_schools_path %>

<%= form_for(@school, url: correct_path) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name*", class: "required" %><br>
    <%= f.text_field :name, class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :link, "URL (http://www.example.com/)" %><br>
    <%= f.text_field :link, class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street, class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(@states, "NC"), class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip, class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :students %><br>
    <%= f.number_field :students, class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :undocumented_students %><br>
    <%= f.number_field :undocumented_students, class: "wide" %>
  </div>
  <div class="field">
    <%= f.label :public %><br>
    <%= f.check_box :public %>
  </div>

  <%= f.fields_for :rules do |ff| %>
    <div class="rule">
      <%= ff.object.question! %><br>
      <%= ff.radio_button :answer, true %> yes
      <%= ff.radio_button :answer, false %> no
      <%= ff.radio_button :answer, '' %> idk
      <div class='details-container'>
        <%= ff.text_area :details, class: 'details', placeholder: 'Additional Information' %>
      </div>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
