<div class="flex-container">
  <h2 class="thin">
    <%= link_to @school.link, class: "blue-link", target: "_blank" do %>
      <%= @school.name %>
    <% end %>
    (<%= @school.public? %>)
  </h2>
  <% if admin_or_above? && request.path.include?("admin") %>
    <%= link_to edit_admin_school_path(@school), class: "blue-link flex-right" do %>
      <i class="fa fa-pencil-square-o fa-2x mobile-only"></i><span class="desktop-only">Edit</span>
    <% end %>
  <% end %>
</div>

<p class="topless">
  <span class="fa-stack thin">
    <i class="fa fa-circle fa-stack-1x"></i>
    <i class="fa fa-map-marker fa-stack-1x"></i>
  </span>
  <%= @school.address %>
</p>

<% if @school.description.present? %>
  <h3 class="thin">Description</h2>
  <p>
    <%= @school.description %>
  </p>
<% end %>

<p>
  <strong>Rating:</strong>
  <%= @school.rating %>
</p>

<p>
  <strong>Students:</strong>
  <%= @school.students || "???" %>
</p>

<p>
  <strong>Undocumented Students:</strong>
  <%= @school.undocumented_students || "???" %>
</p>

<% @school.rules.each do |r| %>
  <%= color_paragraph(r.answer) %>
    <span class="bold"><%= r.question!.gsub("the school", r.school.name) %></span>
    <%= r.answer! %><br/>
    <%= r.details ? r.details : () %>
  </p>
<% end %>

<h2>Comments · <%= @school.comments.count %></h2>
<% if logged_in? %>
  <%= render 'comments/form' %>
<% end %>
<%= render 'comments/index' %>
