<% if admin_or_above? && request.path.include?("admin") %>
  <%= link_to edit_admin_school_path(@school), style: "float:right;" do %>
    <i class="fa fa-pencil-square-o fa-2x mobile-only"></i><span class="desktop-only">Edit</span>
  <% end %>
<% end %>

<h3>
  <%= link_to @school.link, class: "blue-link", target: "_blank" do %>
    <%= @school.name %>
  <% end %>
  (<%= @school.public? %>)
</h3>

<p class="">
  <span class="fa-stack thin">
    <i class="fa fa-circle fa-stack-1x"></i>
    <i class="fa fa-map-marker fa-stack-1x"></i>
  </span>
  <%= @school.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @school.rating %>
</p>

<p>
  <strong>Students:</strong>
  <%= @school.students || "???" %>
</p>

<p>
  <strong>Undocumented Students:</strong>
  <%= @school.undocumented_students || "???" %>
</p>


<% number = 0 %>
<% @school.rules.each do |r| %>
  <p>
    <strong><%= number += 1 %>. <%= r.question!.gsub("the school", r.school.name) %></strong>
    <%= r.answer! %><br/>
    <%= r.details ? r.details : () %>
  </p>
<% end %>

<h2>Comments · <%= @school.comments.count %></h2>
<% if logged_in? %>
  <%= render 'comments/form' %>
<% end %>
<%= render 'comments/index' %>
