<div id="<%= @school.id %>" class="school opinionable">
  <div class="flex-container">
    <h2>
      <%= link @school %>
      <%= desktop_mobile "(#{@school.public?})" => lock %>
    </h2>
    <% if admin_or_above? && request.path.include?("admin") %>
      <%= link_to edit_admin_school_path(@school), class: "flex-right" do %>
        <%= desktop_mobile "Edit" => "<i class='fa fa-pencil-square-o fa-2x'></i>" %>
      <% end %>
    <% end %>
  </div>

  <%= likes_bar @school, bottom: true %>

  <div class="pre-wrap"><%= thumbs_up(@school) %>  <%= likes(@school) %>    <%= thumbs_down(@school) %>  <%= dislikes(@school) %></div>

  <div class="top-padding small gray">
    Updated <%= updated_at @school %>
  </div>

  <p>
    <span class="fa-stack thin">
      <i class="fa fa-circle fa-stack-1x"></i>
      <i class="fa fa-map-marker fa-stack-1x"></i>
    </span>
    <%= @school.address %>
  </p>

  <% if @school.description.present? %>
    <h3>Description</h3>
    <%= simple_md description(@school.description) %>
  <% end %>

  <p>
    <span class="bold">Rank:</span>
    <%= @school.rating! %>
  </p>

  <% if @school.students.present? %>
    <p>
      <span class="bold">Students:</span>
      <%= @school.students || "???" %>
    </p>
  <% end %>

  <% if @school.undocumented_students.present? %>
    <p>
      <span class="bold">Undocumented Students:</span>
      <%= @school.undocumented_students || "???" %>
    </p>
  <% end %>

  <% @school.rules.each do |r| %>
    <%= color_paragraph(r.answer) %>
      <span class="bold"><%= r.question!.gsub("the school", title) %></span>
      <%= r.answer! %><br/>
      <%= r.answer != nil ? simple_md(r.details) : () %>
    </p>
  <% end %>
</div>

<h2>Comments · <%= @school.comments.count %></h2>
<%= render 'comments/form' if logged_in? %>
<%= link_to "All comments",  school_comments_path(@school) %>
<%= render 'comments/index' %>
