<h3>
  <%= @school.name %> (<%= @school.public? %>)
  <% if admin_or_above? && request.path.include?("admin") %>
    <%= link_to edit_admin_school_path(@school), style: "float:right;" do %>
      <i class="fa fa-pencil-square-o fa-2x mobile-only"></i><span class="desktop-only">Edit</span>
    <% end %>
  <% end %>
</h3>

<p>
  <strong>Rating:</strong>
  <%= @school.rating %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to @school.link, target: '_blank' do %>
    <%= @school.link %>
  <% end %>
</p>

<p>
  <strong>Students:</strong>
  <%= @school.students %>
</p>

<p>
  <strong>Undocumented Students:</strong>
  <%= @school.undocumented_students %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<strong>Number of questions:</strong> <%= @school.rules.count %>

<% @school.rules.each do |r| %>
  <p>
    <strong><%= r.question! %></strong>
    <%= r.answer! %><br/>
    <%= r.details ? r.details : () %>
  </p>
<% end %>


<%= link_to 'Back', :back %>
