<div class="flex-container">
  <h2><%= title @story.title %> (<%= author %>)</h2>
  <% if owner? @story %>
    <%= link_to edit_story_path(@story), class: "flex-right" do %>
      <i class="fa fa-pencil-square-o fa-2x mobile-only"></i><span class="desktop-only">Edit</span>
    <% end %>
  <% end %>
</div>

<p class="gray">
  <%= @story.description %>
</p>

<%= complex_md_parser @story.body %>

<%= back %>

<h2>Comments · <%= @commentable.comments.count %></h2>
<%= render 'comments/form' if logged_in? %>
<%= link_to "All comments",  school_comments_path(@commentable) %>
<%= render 'comments/index' %>
