<div id="<%= @story.id %>" class="story opinionable">
  <div class="flex-container header">
      <span class="small-image left margin-right-2">
        <% if @story.anonymous %>
          <%= image_tag "/default_1.jpg" %>
        <% else %>
          <%= image_tag @story.user.image.url(:medium) %>
        <% end %>
      </span>
    <div class="block">
      <h2 class="story-title topless"><%= title @story.title %></h2>
      <%= likes_bar @story, bottom: true, mobile: true %>
      <div class="pre-wrap"><%= thumbs_up(@story) %>  <%= likes(@story) %>    <%= thumbs_down(@story) %>  <%= dislikes(@story) %></div>
    </div>
    <% if owner? @story %>
      <%= link_to edit_story_path(@story), class: "flex-right" do %>
        <%= desktop_mobile "Edit" => "<i class='fa fa-pencil-square-o' style='font-size:1.5em;'></i>" %>
      <% end %>
    <% end %>
  </div>


  <div class="top-padding">
    <%= author %>
  </div>

  <div class="top-padding small gray">
    <%= updated_and_created_at @story %>
  </div>

  <p class="gray">
    <%= description @story.description %>
  </p>

  <%= complex_md_parser @story.body %>
</div>

<h2>Comments · <%= @commentable.comments.count %></h2>
<%= render 'comments/form' if logged_in? %>
<%= link_to "All comments",  school_comments_path(@commentable) %>
<%= render 'comments/index' %>
