<div class="flex-container">
  <h1><%= title "Schools" %></h1>
  <% if recruiter_or_above? %>
    <%= link_to new_school_path, class: 'flex-right' do %>
      <i class="fa fa-plus"></i> Add School
    <% end %>
  <% end %>
</div>

<%= render 'layouts/search', path: schools_path, placeholder: 'Search schools' %>

<table class="pretty">
  <thead>
    <tr>
      <th class="min-width desktop-only" colspan='1'>#</th>
      <th class="min-width"><%= sortable "complete", "Info" %></th>
      <th class="min-width"><%= sortable "rating", "Rank" %></th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "city" %></th>
    </tr>
  </thead>

  <tbody>
    <% number = 0 %>
    <% @schools.each do |school| %>
      <tr data-href="/schools/<%= school.id %>" class="tr-content">
        <td class="desktop-only"><%= number += 1 %></td>
        <td class="center">
          <%= school.complete? ? "<span class='bolder'>✓</span>".html_safe : "INC" %>
        </td>
        <td class="center">
          <%= school.rating! %>
          <% if school.likes! == "no opinions" %>
            <div class="no-opinions-bar"></div>
          <% else %>
            <div class="dislikes-bar">
              <div class="likes-bar" width="<%= school.likes! %>"></div>
            </div>
          <% end %>
        </td>
        <td>
          <%= school.name %>
          <%= lock school %>
        </td>
        <td><%= school.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @schools %>
