<%# this form is for users editing their own information %>

<%= form_for @user, html: { multipart: true } do |f| %>
  <span class="profile-user-image" style="float:left;">
    <%= f.file_field :image, accept: 'image/png,image/jpeg', id: "profilePicFileField" %>
    <%= image_tag @user.image.url(:medium), class: "profile-pic-account" %>
  </span>
  <div class="profile-name-container">
      <%= f.text_field :first_name, class: "resizable edit-name", placeholder: "First name" %>
      <%= f.text_field :last_name, class: "resizable edit-name", placeholder: "Last name" %>
    <p>
      <%= @user.user_type! %>
    </p>
  </div>
  <div>
    <%= f.label :location %><br/>
    <%= f.text_field :city, class: "resizable edit-name", placeholder: "City" %>
    <%= f.select :state, options_for_select(@states, @user.state), {include_blank: "-State-"}, {class: "resizable edit-name"} %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :facebook_url, "Facebook" %><br>
    <%= f.text_field :facebook_url, placeholder: "URL (http://www.example.com/)" %>
  </div>
  <label>Twitter</label><br>
  <div class="relative">
    <i class="fa fa-at in-input"></i>
    <%= f.text_field :twitter_name, placeholder: "Twitter Name", class: "inner-left-padding" %>
  </div>
  <div class="field">
    <%= f.label :linkedin_url, "LinkedIn" %><br>
    <%= f.text_field :linkedin_url, placeholder: "URL (http://www.example.com/)" %>
  </div>
  <% if @user.team_member? %>
    <div class="field">
      <%= f.label :team_contribution, "Team Contribution" %>
      <%= f.text_area :team_contribution, placeholder: "Say how you contribute to this site. This will be on the About page." %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, placeholder: "Enter a few details about yourself." %>
  </div>
  <div class="field">
    <%= f.label :user_type %><br>
    <%= f.select :user_type, options_for_select(user_types, @user.type), include_blank: true %>
  </div>
  <%= f.submit 'Update', class: 'blue-button' %>

<% end %>
