<% if self? || (@user.below_admin? && admin_or_above?) || god? %>
  <%= link_to edit_user_path(@user), class: 'right edit' do %>
    <i class='fa fa-pencil'></i> Edit
  <% end %>
<% end %>
<div class="top-padding no-flow">
  <span class="medium-image left">
    <%= image_tag @user.image.url(:medium) %>
  </span>
  <div class="profile-name-container">
    <h2 class="thin-margin thin">
      <%= title @user.name %>
    </h2>
    <p class="bottomless">
      <%= @user.user_type! %>
    </p>
  </div>
</div>
<% if @user.location %>
  <p>
    <span class="fa-stack thin">
      <i class="fa fa-circle fa-stack-1x"></i>
      <i class="fa fa-map-marker fa-stack-1x"></i>
    </span>
    <%= @user.location %>
  </p>
<% end %>
<p>
  <%= mail_to @user.email do %>
    <span>
      <i class="fa fa-envelope"></i>
    </span>
    <%= @user.email %><br>
  <% end %>
</p>
<% if @user.facebook_url.present? %>
  <p>
    <%= link_to @user.facebook_url do %>
      <span>
        <i class="fa fa-facebook-official"></i>
      </span>
      <%= @user.name %><br>
    <% end %>
  </p>
<% end %>
<% if @user.twitter_name.present? %>
  <p>
    <%= link_to "https://twitter.com/" + @user.twitter_name do %>
      <span>
        <i class="fa fa-twitter-square"></i>
      </span>
      <%= twitter @user.twitter_name %><br>
    <% end %>
  </p>
<% end %>
<% if @user.linkedin_url.present? %>
  <p>
    <%= link_to @user.linkedin_url do %>
      <span>
        <i class="fa fa-linkedin-square"></i>
      </span>
      <%= @user.name %><br>
    <% end %>
  </p>
<% end %>
<% if @user.bio.present? %>
  <h2>Bio</h2>
  <%= full_md @user.bio %>
<% end %>
