<% correct_path = @user.id ? admin_user_path(@user) : admin_users_path %>

<%= form_for @user, url: correct_path, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3>Something's not right:</h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name do %>
      First Name<span class="red">*</span>
    <% end %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last Name" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email do %>
      Email<span class="red">*</span> (An email will be sent for verification)
    <% end %><br/>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password do %>
      Password<span class="red">*</span>
    <% end %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :user_type do %>
      <% if admin_or_above? %>
        This account is for a...<span class="red">*</span>
      <% else %>
        I am a...<span class="red">*</span>
      <% end %>
    <% end %>
    <br>
    <%= f.select :user_type, options_for_select(user_types), include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
