<% @user.id ? correct_path = admin_user_path(@user) : correct_path = admin_users_path %>

<%= form_for @user, url: correct_path, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :image, "Profile picture" %>
  </div>
  <div class="profile-user-image">
    <%= f.file_field :image, accept: 'image/png,image/jpeg', id: "profilePicFileField" %>
    <%= image_tag @user.image.url(:medium), class: "profile-pic-account" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :user_type %><br>
    <%= f.select :user_type, options_for_select(user_types), include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
