<div class="flex-container">
  <h1>Users</h1>
  <%= link_to new_admin_user_path, class: 'blue-link flex-right' do %>
    <i class="fa fa-plus"></i> Add User
  <% end %>
</div>

<%= render 'layouts/search', path: admin_users_path, placeholder: 'Search users' %>

<table class="pretty">
  <thead>
    <tr>
      <th><%= sortable "first_name", "Name" %></th>
      <th>Email</th>
      <th>User type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.user_type! %></td>
        <td>
          <% if god? || user.is_in_session?(session[:user_id]) %>
              <%= link_to edit_admin_user_path(user) do %>
                <i class="fa fa-pencil-square-o mobile-only"></i><span class="desktop-only">Edit</span>
              <% end %>
          <% end %>
        </td>
        <td>
          <% if god? || ( user.viewer? && admin_or_above? ) %>
            <%= link_to admin_user_path(user), method: :delete do %>
              <i class="fa fa-ban mobile-only"></i><span class="desktop-only">Destroy</span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
