<div class="flex-container">
  <h1><%= title 'Users' %></h1>
  <% if admin_or_above? %>
    <%= link_to new_admin_user_path, class: 'flex-right' do %>
      <i class="fa fa-plus"></i> Add User
    <% end %>
  <% end %>
</div>

<%= render 'layouts/search', path: admin_users_path, placeholder: 'Search users' %>

<table class="pretty">
  <thead>
    <tr>
      <th><%= sortable "first_name", "Name" %></th>
      <th class="desktop-only">Email</th>
      <th>User type</th>
      <th colspan="1" hidden="hidden"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr data-href="<%= user_path(user) %>" class="tr-content">
        <td><%= user.name %></td>
        <td class="desktop-only"><%= user.email %></td>
        <td><%= user.user_type! %></td>
        <td hidden="hidden">
          <% if god? || ( user.viewer? && admin_or_above? ) %>
            <%= link_to admin_user_path(user), method: :delete do %>
              <%= desktop_mobile "Destroy" => "<i class='fa fa-ban'></i>" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
