<div class="flex-container">
  <h1><%= title "States" %></h1>
  <% if (admin_or_above? && request.path.include?("admin")) && State.names_left.any? %>
    <%= link_to new_admin_state_path, class: 'flex-right' do %>
      <i class="fa fa-plus"></i> Add State
    <% end %>
  <% end %>
</div>

<div id="tooltip-container"></div>
<div id="canvas-svg"></div>

<script>
  // wwd_data outside the function for resizing reasons
  var wwd_data = $.getJSON('/states/data.json');
  $(window).on('load resize', function() { mapBuilder("<%= request.path %>"); });
</script>
<% if false %>
<!-- <div id="keys">
  <h4>Key</h4>
  <div class="small-mobile">
    <span class="sq-in-state"></span> States with laws providing in-state tuition<br/>
    <span class="sq-in-state-aid"></span> States with laws providing in-state tuition and state financial aid<br/>
    <span class="sq-university-aid"></span> States offering in-state benefits via university systems<br/>
    <span class="sq-out-of-state"></span> States barring in-state benefits<br/>
  </div>
</div> -->
<% end %>

<div id="key"><%= image_tag "keys.png" %></div>

<p>
  <% @states.each_with_index do |state, index| %>
    <%= link state %>
    <%= "|" unless index == @states.size - 1 %>
  <% end %>
</p>

<h2>Overwiew</h2>

<p>
  Here we see the United States, set apart by the states' policies on immigrant education. Some states grant undocumented students in-state tuition status, others don't. Click on a state to learn more about that state. Some states are not clickable.
</p>

<p>
  Also, check out this <%= link_to "government resource", "http://www2.ed.gov/about/overview/focus/supporting-undocumented-youth.pdf" %> for supporting undocumented youth.
</p>
