<div class="flex-container">
  <h1><%= title "States" %></h1>
  <% if (admin_or_above? && request.path.include?("admin")) && State.names_left.any? %>
    <%= link_to new_admin_state_path, class: 'flex-right' do %>
      <i class="fa fa-plus"></i> Add State
    <% end %>
  <% end %>
</div>

<div id="tooltip-container"></div>

<div id="canvas-svg"></div>

<script>
  // declaring wwd_data outside the function is important for resize reasons
  var wwd_data = $.getJSON('/states/data.json');
  mapBuilder("<%= request.path %>");
  $(window).resize(function() { mapBuilder("<%= request.path %>"); });
</script>

<p>
  <% @states.each_with_index do |state, index| %>
    <%= link state %>
    <%= "|" unless index == @states.size - 1 %>
  <% end %>
</p>

<h3>Overwiew</h3>

<p>
  In general, there are 50 states. Some grant undocumented students in-state tuition status, others don't. Click on a state to learn more about that state.
</p>

<p>
  Check out this <%= link_to "PDF", "http://www2.ed.gov/about/overview/focus/supporting-undocumented-youth.pdf" %>
</p>

<p>
  Also, check out this map from the <%= link_to "NCSL", "http://www.ncsl.org/research/immigration/tuition-benefits-for-immigrants.aspx" %>:
</p>

<%= image_tag "in_state_map.gif", class: "block center-div" %>
