<div class="flex-container">
  <h1><%= title @state.name %></h1>
  <% if admin_or_above? && request.path.include?("admin") %>
    <%= link_to edit_admin_state_path(@state), class: 'flex-right' do %>
      <%= desktop_mobile "Edit" => "<i class='fa fa-pencil-square-o fa-2x'></i>" %>
    <% end %>
  <% end %>
</div>

<p class="topless">
  <%= @state.in_state_message %>
</p>

<% if @state.description.present? %>
  <%= full_md @state.description %>
<% end %>

<h3>Schools</h3>
<% if @schools.any? %>
  <% @schools.each do |school| %>
    <%= link_to school.name, school %><br/>
  <% end %>
<% else %>
  <p>
    There are no schools for this state...yet.
  </p>
<% end %>
<%= back %>
