<div class="cover">
  <% if @page == 'home' %>
    <div class="cover-img"></div>
    <div class="cover-content">
      <h1>
        You can do it
      </h1>
      <footer class="italics">
        Nothing is stopping you
      </footer>
    </div>
    <a href="#down" class="white"><i class="fa fa-chevron-down fa-2x"></i></a>
  <% elsif @page == 'Log In' %>
    <div class="cover-img-2"></div>
    <div class="cover-content-2">

      <h1 class="topless"><%= title @page %></h1>

      <%= form_tag("/sessions/create", method: "post", autocomplete: :off) do |f| %>
        <div class="field">
          <%= email_field_tag :email, nil, autocomplete: "off", class: "tumblr-input", placeholder: "Email" %>
        </div>
        <div class="field">
          <%= password_field_tag :password, nil, autocomplete: "off", class: "tumblr-input", placeholder: "Password" %>
        </div>
        <div class="actions">
          <%= submit_tag "Log In", class: "green-button" %>
        </div>
      <% end %>
      <%= link_to "Create an Account", new_user_path, class: "red-button" %>
    </div>
  <% end %>
</div>
<a name="down"></a>
