<footer class="footer" role="contentinfo">
  <div class="footer-container">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <i class="logo fa fa-comment-o"></i>
        Where We DREAM
      <% end %>
    </div>
    <div class="footer-links">
      <% if logged_in? %>
        <ul class="left">
          <li><h3>Account</h3></li>
          <li><%= link_to "Profile", profile_path %></li>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
        </ul>
      <% end %>
      <ul class="left">
        <li><h3>Content</h3></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="footer-social right">
        <li><h3>Follow Us</h3></li><br>
        <li>
          <a href="https://www.facebook.com/wherewedream">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x external"></i>
              <i class="fa fa-facebook fa-stack-1x internal"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/wherewedreamorg">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x external"></i>
              <i class="fa fa-twitter fa-stack-1x internal"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <p>
        <%= link_to "About", "/about" %> |
        <%= link_to "Contact", "/contact" %>
        <% if logged_in? %>
          | <%= link_to "Profile", "/profile" %>
          | <%= link_to "Logout", logout_path, method: :delete %>
        <% end %>
      </p><br>
      <p class="copywrite">©<%= copywrite_year %> Where We Dream</p>
    <div>
  </div>
</footer>
