<% if @page == 'home' %>
  <style>
    header {
      background-image: none;
    }
    header.navigation ul li.nav-link {
      color: #2e2f33;
    }
  </style>
<% end %>
<header class="navigation" role="banner">
  <div id="header-wrapper" class="navigation-wrapper">
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li id="home" class="nav-link">
          <%= link_to root_path do %>
            <span class="fa-stack">
              <i id="logo" class="fa fa-graduation-cap fa-stack-1x logo"></i>
            </span>
            <span class="desktop-only">Where We DREAM</span>
          <% end %>
        </li>
        <li id="features" class="nav-link">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-bars fa-stack-1x"></i>
          </span>
          <span class='desktop-only'>Features</span>
        </li>
        <% if admin_or_above? %>
          <li id="admin" class="nav-link">
            <span class="fa-stack">
              <% if god? %>
                <i class="fa fa-expeditedssl fa-stack-2x"></i>
              <% else %>
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-unlock-alt fa-stack-1x"></i>
              <% end %>
            </span>
            <span class='desktop-only'><%= user_type %></span>
          </li>
        <% end %>
        <% unless logged_in? %>
          <li id="login" class="nav-link">
            <a href="/login" class="login">
              <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-user-plus fa-stack-1x" style="padding-left:.1em;"></i>
              </span>
              <span class='desktop-only'>Log In<span>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
  <nav id="mobile-nav">
    <div id="nav-features">
      <div class="feature">
        <a href="/schools"><span class="click-area"></span></a>
        <h3>Schools</h3>
        <p>Browse through our <%= pluralize School.count, "school" %></p>
      </div>
      <div class="feature">
        <a href="javascript:void(0)"><span class="click-area"></span></a>
        <h3>Scholarships</h3>
        <p>Coming soon!</p>
        <!-- <p>Browse through our '5' scholarships</p> -->
      </div>
      <div class="feature">
        <a href="javascript:void(0)"><span class="click-area"></span></a>
        <h3>Sponsors</h3>
        <p>Coming soon!</p>
        <!-- <p>Browse through our '20' sponsors</p> -->
      </div>
      <div class="feature">
        <a href="/students"><span class="click-area"></span></a>
        <h3>Students</h3>
        <p>Browse through our <%= pluralize User.students.count, "student" %></p>
      </div>
    </div>
    <div id="nav-admin">
      <div class="feature">
        <%= link_to '<span class="click-area"></span>'.html_safe, admin_schools_path %>
        <h3>Schools</h3>
        <p>Edit schools</p>
      </div>
      <div class="feature">
        <%= link_to '<span class="click-area"></span>'.html_safe, admin_questions_path %>
        <h3>Questions</h3>
        <p>Edit questions</p>
      </div>
      <div class="feature">
        <%= link_to '<span class="click-area"></span>'.html_safe, admin_users_path %>
        <h3>Users</h3>
        <p>Edit users</p>
      </div>
    </div>
    <div id="nav-other">

    </div>
  </nav>
</header>
