<% if ['home', 'Log In'].include? @page %>
  <style>
    header {
      background-image: none;
    }
    header.navigation ul li.nav-link {
      color: #2e2f33;
    }
  </style>
<% end %>
<% if @page == 'Log In' %>
  <style>
    .body {
      padding: 0;
    }
  </style>
<% end %>
<header class="navigation" role="banner">
  <div id="header-wrapper" class="navigation-wrapper">
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li id="home" class="nav-link">
          <%= link_to root_path do %>
            <span class="fa-stack">
              <i id="logo" class="fa fa-graduation-cap fa-stack-1x logo"></i>
            </span>
            <%= desktop_only "Where We DREAM" %>
          <% end %>
        </li>
        <li id="features" class="nav-link">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-bars fa-stack-1x"></i>
          </span>
          <%= desktop_only "Features" %>
        </li>
        <% if recruiter_or_above? %>
          <li id="admin" class="nav-link">
            <span class="fa-stack">
              <i class="fa fa-expeditedssl fa-stack-2x"></i>
            </span>
            <%= desktop_only user_type %>
          </li>
        <% end %>
        <% unless logged_in? %>
          <li id="login" class="nav-link">
            <a href="/login" class="login">
              <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-user-plus fa-stack-1x" style="padding-left:.1em;"></i>
              </span>
              <%= desktop_only "Log In" %>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <nav id="nav-features" role="navigation" class="nav">
    <%= link_to schools_path do %>
      <h3>Schools</h3>
      <p>Browse through our <%= 'school'.pluralize School.count %></p>
    <% end %>
    <%= link_to scholarships_path do %>
      <h3>Scholarships</h3>
      <p>Browse through our <%= 'scholarship'.pluralize Scholarship.count %></p>
    <% end %>
    <%= link_to states_path do %>
      <h3>States</h3>
      <p>Browse through our <%= 'state'.pluralize State.count %></p>
    <% end %>
    <%= link_to stories_path do %>
      <h3>Stories</h3>
      <p>Browse through our <%= 'story'.pluralize Story.count %></p>
    <% end %>
  </nav>

  <nav id="nav-admin" role="navigation" class="nav">
    <%= link_to schools_path do %>
      <h3>Schools</h3>
      <p>Edit schools</p>
    <% end %>
    <%= link_to admin_scholarships_path do %>
      <h3>Scholarships</h3>
      <p>Edit scholarships</p>
    <% end %>
    <% if admin_or_above? %>
      <%= link_to admin_states_path do %>
        <h3>States</h3>
        <p>Edit states</p>
      <% end %>
    <% end %>
    <% if god? %>
      <%= link_to admin_questions_path do %>
        <h3>Questions</h3>
        <p>Edit questions</p>
      <% end %>
    <% end %>
    <%= link_to admin_users_path do %>
      <h3>Users</h3>
      <p><%= pluralize User.count, 'user' %></p>
    <% end %>
  </nav>
  <%= notice_helper if notice.present? %>
</header>
