<% if @page %>
  <style>
    #header-image {
      background-image: none;
    }
    header.navigation {
      color: #2e2f33;
    }
    header.navigation ul li.nav-link a {
      color: #2e2f33;
    }
  </style>
<% end %>
<header class="navigation" role="banner">
  <div id="header-image">
  <div id="header-wrapper" class="navigation-wrapper">
    <ul class="navigation-menu">
      <li class="nav-link">
        <%= link_to root_path do %>
          <i class="fa fa-comment-o logo"></i>
          Where We DREAM
        <% end %>
        </a>
      </li>
    </ul>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <% if admin_or_above? %>
          <li id="admin" class="nav-link">
            <a href="javascript:void(0)" class="login">
              <span class="fa-stack">
                <% if god? %>
                  <i class="fa fa-expeditedssl fa-stack-2x"></i>
                <% else %>
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-unlock-alt fa-stack-1x"></i>
                  <!-- <i class="fa fa-user-secret fa-stack-1x"></i> -->
                <% end %>
              </span>
              <span class='header-text'><%= user_type %></span>
            </a>
          </li>
        <% end %>
        <% unless logged_in? %>
          <li class="nav-link">
            <a href="/login" class="login">
              <span class="fa-stack">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-user-plus fa-stack-1x" style="padding-left:.1em;"></i>
              </span>
              <span class='header-text'>Login<span>
            </a>
          </li>
        <% end %>
        <li id="features" class="nav-link">
          <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-bars fa-stack-1x"></i>
          </span>
        </li>
      </ul>
    </nav>
  </div>
  <nav id="mobile-nav">
    <div id="nav-features">
      <div class="feature">
        <a href="/schools"><span></span></a>
        <h3>Schools</h3>
        <p>Browse through our <%= School.count %> schools</p>
      </div>
      <div class="feature">
        <a href="javascript:void(0)"><span></span></a>
        <h3>Scholarships</h3>
        <p>Browse through our '5' scholarships</p>
      </div>
      <div class="feature">
        <a href="javascript:void(0)"><span></span></a>
        <h3>Sponsors</h3>
        <p>Browse through our '20' sponsors</p>
      </div>
      <div class="feature">
        <a href="javascript:void(0)"><span></span></a>
        <h3>Students</h3>
        <p>Browse through our '29' students</p>
      </div>
    </div>
    <div id="nav-admin">
      <div class="feature">
        <%= link_to '<span></span>'.html_safe, admin_schools_path %>
        <h3>Schools</h3>
        <p>Edit schools.</p>
      </div>
      <div class="feature">
        <%= link_to '<span></span>'.html_safe, admin_questions_path %>
        <h3>Questions</h3>
        <p>Edit questions.</p>
      </div>
      <div class="feature">
        <%= link_to '<span></span>'.html_safe, admin_users_path %>
        <h3>Users</h3>
        <p>Edit users.</p>
      </div>
    </div>
    <div id="nav-other">

    </div>
  </nav>
</header>
