<!DOCTYPE html>
<html>
<head>
  <title>Where We DREAM</title>
  <meta name="viewport" content="initial-scale=1"><%#= Ben's solution for mobile view %>
  <%= favicon_link_tag asset_url('graduation_cap.png') %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
