<!DOCTYPE html>
<html>
<head>
  <title>Where We DREAM</title>
  <meta name="viewport" content="initial-scale=1">
  <%= favicon_link_tag asset_url('graduation_cap.png') %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/cover' if @page == 'home' %>
  <div id='body'>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
